* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#logo {
    margin-bottom: 40px;
}

#logo img {
    display: block;
    margin: auto;
    width: 30%;
    min-width: 300px;
}

/*Nav bar code*/

body {
    font-family: "Oswald";
}

header {
    position: relative;
    width: 100%;
    z-index: 1;
}

nav {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px rgb(189, 189, 189);
    
}

.main_ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8vw;
    margin: 0 10vw;
}

.main_ul .logo {
    list-style: none;
    margin-right: auto;
    padding: 0;
}

.main_ul .logo img {
    width: 15vw;
    height: 10vw;
    object-fit: cover;
}


.main_ul li {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.main_ul li a {
    color: black;
    font-size: 2.5vw;
}

.main_ul li:hover ul, .main_ul li:focus ul {
    opacity: 1;
    visibility: visible;
}

.main_ul li .dropdown {
    position: absolute;
    top: 6.85vw;
    left: -1vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(189, 189, 189);
    border-radius: 0.2rem;
    width: 17vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    transition: opacity 200ms ease-in-out;
    
}

.main_ul li .dropdown li {
    position: relative;
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
    &:hover, &:focus {
        background-color: rgb(127, 182, 238);   
    }
}

.main_ul li .dropdown li a {
    font-size: 2vw;
}

.bod {
    
    background-image: url("test.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
} 