* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #263443;
    background-color: #476077;
    
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a:link, a:visited {
    text-decoration: none!important;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 10%;
}

header img {
    width: 40%;
}

nav {
    font-family: 'Roboto';
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11vw;
    text-decoration: none;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    color: rgb(196, 208, 230);
    background-image: url('/images/buttonimg.webp');
    background-size: 100%;
    object-fit: contain;
    width: 60%;
    min-height: 60px;   
    font-size: 1.01rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    transition: transform 1s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}

footer {
    text-align: center;
    line-height: 1.5;
    font-size: 1rem;
    padding-top: 20%;
    padding-bottom: 10%;
    & #con {
        font-family: "loos-normal";
        font-weight: medium;
    }
    & h2 {
        font-weight: 100;
    }
}

footer .tiktok-embed {
    display: none;
}

@media (min-width: 600px) {
    header {
        padding-top: 9%;
        padding-bottom: 7%;
        & img {
            width: 20%;
        }
    }
    nav {
        flex-direction: row;
        justify-content: center;
        gap: 7vw;
    }
    nav a {
        width: 20%;
        font-size: clamp(1rem, 0.375rem + 1.667vw, 2rem);
        min-height: 100px;
    }
    footer {
        font-size: 1rem;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    footer .tiktok-embed {
        display: block;
    }
}